@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        /* Sayfanın genel düzeni */
        html, body {
            height: 100%; /* Sayfanın yüksekliği %100 olacak şekilde ayarla */
            margin: 0; /* Sayfanın kenar boşluklarını sıfırla */
            display: flex;
            flex-direction: column; /* İçeriği dikey yönde yerleştir */
        }

        /* Sayfa içeriği */
        body {
            background-image: url('/img/123.png'); /* Fotoğrafın yolunu buraya yazın */
            background-size: cover; /* Fotoğrafı ekran boyutuna göre ayarla */
            background-position: center; /* Fotoğrafı ortala */
            color: white; /* Yazı rengini beyaz yap */
            font-family: Arial, sans-serif; /* Yazı tipi */
            flex: 1; /* Sayfa içeriğinin genişliğini ayarla */
        }

        /* Merkezi hizalamak için */
        .text-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        h1, h2, h3 {
            font-weight: bold;
            margin: 10px 0;
            text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7); /* Gölge efekti */
        }

        h1 {
            font-size: 3em;
        }

        h2, h3 {
            font-size: 2em;
        }

        /* Footer düzeni */
        footer {
            background-color: rgba(0, 0, 0, 0.7); /* Footer arka planı */
            color: white; /* Footer yazı rengi */
            text-align: center; /* Footer yazısını ortala */
            padding: 10px 0; /* Footer için padding */
            position: relative;
            bottom: 0;
            width: 100%;
            margin-top: auto; /* Footer'ı sayfanın en altına itmek için */
        }
    </style>
</head>
<body>

    <div class="text-center">
        <h2 class="display-4">Hoşgeldiniz</h2>
        <h3 class="display-4">Karşınızda</h3>
        <h1 class="display-4">Dosya Yönetim Sistemi</h1>
    </div>

    

</body>
</html>
