@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p>
    Portalımızda paylaştığınız kişisel veriler, gizliliğinizi koruma önceliğimizle güvenle saklanmaktadır. Verileriniz, yalnızca hizmetlerimizi sunmak ve geliştirmek amacıyla kullanılmakta olup, üçüncü taraflarla paylaşılmamaktadır. Güvenlik önlemlerimizle bilgilerinizin yetkisiz erişime karşı korunmasını sağlıyoruz.

    Sorularınız veya talepleriniz için bizimle iletişime geçebilirsiniz.
</p>
